div{
    background-color: bisque;
    text-align: center;
    
}
.identity{
    color: brown;
}
.card{
    text-align: center;
    text:50px;
    color: crimson;
    padding: 300px 500px;
    margin: 0 400px;
}